In [1]:
!pip install nibabel

Collecting nibabel
  Downloading nibabel-3.2.2-py3-none-any.whl (3.3 MB)
Requirement already satisfied: setuptools in c:\users\david cooksley\anaconda3\envs\enel645\lib\site-packages (from nibabel) (58.0.4)
Requirement already satisfied: packaging>=14.3 in c:\users\david cooksley\anaconda3\envs\enel645\lib\site-packages (from nibabel) (21.3)
Requirement already satisfied: numpy>=1.14 in c:\users\david cooksley\anaconda3\envs\enel645\lib\site-packages (from nibabel) (1.19.2)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\david cooksley\anaconda3\envs\enel645\lib\site-packages (from packaging>=14.3->nibabel) (3.0.4)
Installing collected packages: nibabel
Successfully installed nibabel-3.2.2

In [9]:
import matplotlib.pylab as plt
import numpy as np
import pandas as pd
import os
import tensorflow as tf
from tensorflow.keras.optimizers import Adam
from tensorflow.keras import backend as K
import nibabel as nib
from models import unet
from utils import min_max_normalization

In [3]:
def dice_coef(y_true, y_pred):
    ''' Metric used for CNN training'''
    smooth = 1.0 #CNN dice coefficient smooth
    y_true_f = K.flatten(y_true)
    y_pred_f = K.flatten(y_pred)
    intersection = K.sum(y_true_f * y_pred_f)
    return (2. * intersection + smooth) / (K.sum(y_true_f) + K.sum(y_pred_f) + smooth)

def dice_coef_loss(y_true, y_pred):
    ''' Loss function'''
    return -(dice_coef(y_true, y_pred)) # try negative log of the DICE* (-tf.math.log())

In [4]:
def pad_volume(data,multiple):
    _,d2,d3 = data.shape
    rem2 = multiple - d2%multiple 
    rem3 = multiple - d3%multiple
    return np.pad(data,pad_width = ((0,0),(0,rem2),(0,rem3)))

In [5]:
data_path = "C:\\Users\\David Cooksley\\Documents\\School\\ENEL645\\Project\\enel645-final-project\\unet-segmentation\\Data\\Original"
test_files = "C:\\Users\\David Cooksley\\Documents\\School\\ENEL645\\Project\\enel645-final-project\\unet-segmentation\\Data\\test-set.txt"
test_files = np.loadtxt(test_files,dtype = str)
test_files = [os.path.join(data_path, f + ".gz") for f in test_files]

label01_path = "C:\\Users\\David Cooksley\\Documents\\School\\ENEL645\\Project\\enel645-final-project\\unet-segmentation\\Data\\Brain-masks"
label01_files = "C:\\Users\\David Cooksley\\Documents\\School\\ENEL645\\Project\\enel645-final-project\\unet-segmentation\\Data\\test-set.txt"
label01_files = np.loadtxt(label01_files,dtype = str)
label01_files = [os.path.join(label01_path, f.split('.')[0] + "_staple.nii.gz") for f in label01_files]

label02_path = "C:\\Users\\David Cooksley\\Documents\\School\\ENEL645\\Project\\enel645-final-project\\unet-segmentation\\Data\\WM-GM-CSF"
label02_files = "C:\\Users\\David Cooksley\\Documents\\School\\ENEL645\\Project\\enel645-final-project\\unet-segmentation\\Data\\test-set.txt"
label02_files = np.loadtxt(label02_files,dtype = str)
label02_files = [os.path.join(label02_path, f + ".gz") for f in label02_files]

files = zip(test_files, label01_files, label02_files)

multiple = 2**4 # the network has 4 max-pooling layers

In [6]:
model_name = "unet_multitask.h5"
model = unet(input_shape=(None, None, 1))
model.load_weights(model_name)
model.compile(loss = dice_coef_loss, optimizer=Adam())

In [8]:
image = nib.load(label01_files[0]).get_fdata()
image.shape

ERROR! Session/line number was not unique in database. History logging moved to new session 472

(224, 256, 256)

In [9]:
idx = 120
scores01 = np.zeros(48)
scores02 = np.zeros(48)

for i, (ii, jj, kk) in enumerate(zip(test_files, label01_files, label02_files)):
    data = nib.load(ii).get_fdata()
    label01 = nib.load(jj).get_fdata()
    label02 = nib.load(kk).get_fdata()
    
    data = min_max_normalization(data)
    data = data.transpose(2,0,1) # axial slices first
    label01 = label01.transpose(2,0,1) # axial slices first
    label02 = label02.transpose(2,0,1) # axial slices first
    
    
    H,W,Z = data.shape
    data_padded = pad_volume(data,16)
    pred01,pred02 = model.predict(data_padded[:,:,:,np.newaxis])
    pred01 = pred01[:,:W,:Z,0] > 0.5
    pred01 = pred01.astype(np.double)
    pred02 = pred02[:,:W,:Z,:].argmax(axis = -1)*pred01
    
    # print("Finished loop: " + str(i))
    scores01[i] = dice_coef_loss(label01, pred01)
    scores02[i] = dice_coef_loss(label02, pred02)
    print("Finished loop: " + str(i))
    print("Score 01: " + str(scores01[i]))
    print("Score 02: " + str(scores02[i]))
    
    # print(score01)
    
    # score01 = model.evaluate(data_padded[:,:,:,np.newaxis], 
    # score02 = model.evaluate(data_padded[:,:,:,np.newaxis], 
    # plt.figure()
    # plt.imshow(data[idx], cmap = "gray")
    # plt.imshow(pred01[idx], alpha = 0.5)
    # plt.show()
    # plt.figure()
    # plt.imshow(data[idx], cmap = "gray")
    # plt.imshow(pred02[idx], alpha = 0.5)
    # plt.show()

Finished loop: 0
Score 01: -0.9836050186739957
Score 02: -0.9836050186739957
Finished loop: 1
Score 01: -0.9865523316648409
Score 02: -0.9865523316648409
Finished loop: 2
Score 01: -0.980557628949921
Score 02: -0.980557628949921
Finished loop: 3
Score 01: -0.985667770052149
Score 02: -0.985667770052149
Finished loop: 4
Score 01: -0.9820876078264036
Score 02: -0.9820876078264036
Finished loop: 5
Score 01: -0.9865580153384426
Score 02: -0.9865580153384426
Finished loop: 6
Score 01: -0.9854390853623822
Score 02: -0.9854390853623822
Finished loop: 7
Score 01: -0.9851206906521883
Score 02: -0.9851206906521883
Finished loop: 8
Score 01: -0.9813380378706549
Score 02: -0.9813380378706549
Finished loop: 9
Score 01: -0.9817798406409574
Score 02: -0.9817798406409574
Finished loop: 10
Score 01: -0.9817270108995981
Score 02: -0.9817270108995981
Finished loop: 11
Score 01: -0.9858257536336522
Score 02: -0.9858257536336522
Finished loop: 12
Score 01: -0.9861979041685011
Score 02: -0.9861979041685011
Finished loop: 13
Score 01: -0.9856029788382629
Score 02: -0.9856029788382629
Finished loop: 14
Score 01: -0.9856076838962778
Score 02: -0.9856076838962778
Finished loop: 15
Score 01: -0.9872917099785695
Score 02: -0.9872917099785695
Finished loop: 16
Score 01: -0.9884331556780024
Score 02: -0.9884331556780024
Finished loop: 17
Score 01: -0.9850021918743966
Score 02: -0.9850021918743966
Finished loop: 18
Score 01: -0.9893482654135815
Score 02: -0.9893482654135815
Finished loop: 19
Score 01: -0.9895587976263077
Score 02: -0.9895587976263077
Finished loop: 20
Score 01: -0.9872195421998986
Score 02: -0.9872195421998986
Finished loop: 21
Score 01: -0.9868606466939082
Score 02: -0.9868606466939082
Finished loop: 22
Score 01: -0.9868469338041885
Score 02: -0.9868469338041885
Finished loop: 23
Score 01: -0.9875646026879629
Score 02: -0.9875646026879629
Finished loop: 24
Score 01: -0.9884287333723485
Score 02: -0.9884287333723485
Finished loop: 25
Score 01: -0.9714695391523048
Score 02: -0.9714695391523048
Finished loop: 26
Score 01: -0.9852872195599394
Score 02: -0.9852872195599394
Finished loop: 27
Score 01: -0.9863265270107583
Score 02: -0.9863265270107583
Finished loop: 28
Score 01: -0.9866503488733062
Score 02: -0.9866503488733062
Finished loop: 29
Score 01: -0.9895866498600764
Score 02: -0.9895866498600764
Finished loop: 30
Score 01: -0.9891959759005996
Score 02: -0.9891959759005996
Finished loop: 31
Score 01: -0.9879791425474335
Score 02: -0.9879791425474335
Finished loop: 32
Score 01: -0.9854351947487238
Score 02: -0.9854351947487238
Finished loop: 33
Score 01: -0.9831680958048207
Score 02: -0.9831680958048207
Finished loop: 34
Score 01: -0.9860107659469111
Score 02: -0.9860107659469111
Finished loop: 35
Score 01: -0.9887838434109406
Score 02: -0.9887838434109406
Finished loop: 36
Score 01: -0.9856369895389415
Score 02: -0.9856369895389415
Finished loop: 37
Score 01: -0.9894801359856581
Score 02: -0.9894801359856581
Finished loop: 38
Score 01: -0.9876863883567837
Score 02: -0.9876863883567837
Finished loop: 39
Score 01: -0.9880746249759647
Score 02: -0.9880746249759647
Finished loop: 40
Score 01: -0.9877368671536466
Score 02: -0.9877368671536466
Finished loop: 41
Score 01: -0.9873593125347667
Score 02: -0.9873593125347667
Finished loop: 42
Score 01: -0.9840503914869254
Score 02: -0.9840503914869254
Finished loop: 43
Score 01: -0.982171164576327
Score 02: -0.982171164576327
Finished loop: 44
Score 01: -0.9852715610431327
Score 02: -0.9852715610431327
Finished loop: 45
Score 01: -0.9874333239447234
Score 02: -0.9874333239447234
Finished loop: 46
Score 01: -0.9873713985067721
Score 02: -0.9873713985067721
Finished loop: 47
Score 01: -0.9857773497254967
Score 02: -0.9857773497254967

In [10]:
with open('scores01.npy', 'wb') as f:
    np.save(f, scores01)
with open('scores02.npy', 'wb') as f:
    np.save(f, scores02)

In [50]:
file_names = np.loadtxt("C:\\Users\\David Cooksley\\Documents\\School\\ENEL645\\Project\\enel645-final-project\\unet-segmentation\\Data\\test-set.txt",dtype = str)
file_names = [f.split(".")[0] for f in file_names]

manufacturer = [f.split("_")[1] for f in file_names]
field_strength = [f.split("_")[2] for f in file_names]
sex = [f.split("_")[4] for f in file_names]

In [51]:
scores01 = -np.load("scores01.npy")
scores02 = -np.load("scores02.npy")

In [61]:
d = {'manufacturer':manufacturer, 'field_strength':field_strength, 'sex':sex, 'staple_score':scores01, 'wm_gm_csf_score':scores02 }

In [62]:
score_frame = pd.DataFrame(data=d)
score_frame

   manufacturer field_strength sex  staple_score  wm_gm_csf_score
0       siemens              3   M      0.983605         2.423160
1       siemens              3   M      0.986552         2.416392
2       siemens              3   M      0.980558         2.409079
3       siemens              3   M      0.985668         2.423788
4       siemens              3   F      0.982088         2.424768
5       siemens              3   F      0.986558         2.411977
6       siemens              3   F      0.985439         2.413691
7       siemens              3   F      0.985121         2.436038
8       philips              3   M      0.981338         2.389270
9       philips              3   M      0.981780         2.391772
10      philips              3   M      0.981727         2.433473
11      philips              3   M      0.985826         2.430419
12      philips              3   F      0.986198         2.422652
13      philips              3   F      0.985603         2.427487
14      philips              3   F      0.985608         2.434507
15      philips              3   F      0.987292         2.401667
16      philips             15   F      0.988433         2.453850
17      philips             15   F      0.985002         2.423643
18      philips             15   F      0.989348         2.432811
19      philips             15   F      0.989559         2.461262
20      philips             15   M      0.987220         2.432672
21      philips             15   M      0.986861         2.489550
22      philips             15   M      0.986847         2.414271
23      philips             15   M      0.987565         2.474629
24      siemens             15   M      0.988429         2.459366
25      siemens             15   M      0.971470         2.367231
26      siemens             15   M      0.985287         2.432779
27      siemens             15   M      0.986327         2.456521
28      siemens             15   F      0.986650         2.417305
29      siemens             15   F      0.989587         2.487132
30      siemens             15   F      0.989196         2.447270
31      siemens             15   F      0.987979         2.447795
32           ge              3   F      0.985435         2.408297
33           ge              3   F      0.983168         2.433296
34           ge              3   F      0.986011         2.441268
35           ge              3   F      0.988784         2.424720
36           ge              3   M      0.985637         2.400030
37           ge              3   M      0.989480         2.463910
38           ge              3   M      0.987686         2.445863
39           ge              3   M      0.988075         2.419897
40           ge             15   M      0.987737         2.430423
41           ge             15   M      0.987359         2.450859
42           ge             15   M      0.984050         2.405606
43           ge             15   M      0.982171         2.435305
44           ge             15   F      0.985272         2.399440
45           ge             15   F      0.987433         2.418494
46           ge             15   F      0.987371         2.436770
47           ge             15   F      0.985777         2.422739

In [63]:
score_frame.groupby('sex').mean()

     staple_score  wm_gm_csf_score
sex
F        0.986621         2.430370
M        0.984969         2.429011

ERROR! Session/line number was not unique in database. History logging moved to new session 483

In [64]:
score_frame.groupby('manufacturer').mean()

              staple_score  wm_gm_csf_score
manufacturer
ge                0.986340         2.427307
philips           0.986013         2.432121
siemens           0.985032         2.429643

In [65]:
score_frame.groupby('field_strength').mean()

                staple_score  wm_gm_csf_score
field_strength
15                  0.986372         2.437405
3                   0.985218         2.421976